article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
nav,
section,
summary {
  display: block;
}
audio,
canvas,
video {
  display: inline-block;
}
audio:not([controls]) {
  display: none;
  height: 0;
}
[hidden] {
  display: none;
}
html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}
a:focus {
  outline: thin dotted;
}
a:active,
a:hover {
  outline: 0;
}
h1 {
  font-size: 2em;
}
abbr[title] {
  border-bottom: 1px dotted;
}
b,
strong {
  font-weight: 700;
}
dfn {
  font-style: italic;
}
mark {
  background: #ff0;
  color: #000;
}
code,
kbd,
pre,
samp {
  font-family: monospace, serif;
  font-size: 1em;
}
pre {
  white-space: pre-wrap;
  word-wrap: break-word;
}
q {
  quotes: \201c \201d \2018 \2019;
}
small {
  font-size: 80%;
}
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
sup {
  top: -0.5em;
}
sub {
  bottom: -0.25em;
}
img {
  border: 0;
}
svg:not(:root) {
  overflow: hidden;
}
fieldset {
  border: 1px solid silver;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}
button,
input,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0;
}
button,
input {
  line-height: normal;
}
button,html input[type=button],/* 1 */input[type=reset],input[type=submit] {
  -webkit-appearance: button;
  cursor: pointer;
}
button[disabled],
input[disabled] {
  cursor: default;
}
input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  padding: 0;
}
input[type="search"] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}
textarea {
  overflow: auto;
  vertical-align: top;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
body,
figure {
  margin: 0;
}
legend,
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: "";
  clear: both;
  height: 0;
}

* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.visuallyhidden:not(:focus):not(:active) {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(00 0 0);
  overflow: hidden;
}

html {
  font-size: 62.5%;
  font-family: "Anonymous Pro", monospace;
}

main {
  position: relative;
}

ol,
li {
  margin: 0;
  padding: 0;
  list-style-position: inside;
}

.intro {
  background-color: rgba(255, 255, 255, 0.35);
  color: white;
  font-size: 200%;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 100%;
  height: 50vh;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 11;
}

.intro-rules {
  text-align: left;
  display: none;
}

.stats {
  display: flex;
  color: black;
  width: 100%;
  align-items: center;
  justify-content: space-between;
}

.wrapper {
  width: 80%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  position: relative;
}

.user-form {
  align-self: center;
}

.user-input {
  display: none;
  position: absolute;
  padding: 1rem;
  font-size: 2rem;
  bottom: 5%;
  align-self: center;
  left: 50%;
  transform: translateX(-50%);
  z-index: 10;
}

.words {
  color: white;
  width: 100%;
  height: 100%;
  position: relative;
}

.game-section {
  display: flex;
  background-image: url(../assets/images/black-wallpaper-dark-full-moon.jpg);
  background-size: cover;
  background-position: center;
  width: 100vw;
  height: 100vh;
}

.score,
.timer {
  padding: 1em;
  display: none;
  background-color: rgb(207, 207, 186);
  margin: 0;
}

.word {
  font-size: 3rem;
  margin: 0;
  position: absolute;
  bottom: 0;
  left: 0;
  text-align: center;
}

.ending {
  @extend .intro;
  height: 100vh;
  display: none;

  .ending-stats {
    display: flex;
    text-align: center;
    width: 100%;
    justify-content: center;
    flex-wrap: wrap;

    .ending-average-typing-second {
      margin: auto 2%;
    }

    p {
      height: 300px;
      width: 300px;
      border-radius: 50%;
      border: 1px solid white;
      display: block;
      justify-content: center;
      align-items: center;
      display: flex;
      flex-direction: column;
      line-height: 1.15;
      padding: 1em;
    }

    span {
      display: block;
      font-size: 300%;
      margin: 1rem 0;
    }
  }

  .ending-win,
  .ending-lose {
    width: 100%;
    height: 100%;
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .ending-win {
    background-color: teal;
  }

  .ending-lose {
    background-color: crimson;
  }
}

// Code from Geoff Graham on CSS-TRICKS
.typewriter {
  overflow: hidden; /* Ensures the content is not revealed until the animation */
  border-right: 0.15em solid #42f448; /* The typwriter cursor */
  white-space: nowrap; /* Keeps the content on a single line */
  // margin: 0 auto; /* Gives that scrolling effect as the typing happens */
  letter-spacing: 0.1em; /* Adjust as needed */

  &-blink {
    animation: typing 1.5s steps(40, end), blink-caret 0.75s step-end infinite;
  }

  &-no-blink {
    animation: typing 1.5s steps(40, end), blink-caret 0.75s step-end infinite;
  }

  @keyframes typing {
    from {
      width: 0;
    }
    to {
      width: 100%;
    }
  }
  @keyframes blink-caret {
    from,
    to {
      border-color: transparent;
    }
    50% {
      border-color: #42f448;
    }
  }
}

.blink-cursor {
  border-right: 0.15em solid #42f448; /* The typwriter cursor */
  letter-spacing: 0.1em; /* Adjust as needed */
  animation: blink-caret 0.75s step-end infinite;
}

.intro-title {
  text-align: left;
  width: 60%;

  .welcome,
  .author,
  .read-rules {
    visibility: hidden;
  }
}
