article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
nav,
section,
summary {
  display: block; }

audio,
canvas,
video {
  display: inline-block; }

audio:not([controls]) {
  display: none;
  height: 0; }

[hidden] {
  display: none; }

html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%; }

a:focus {
  outline: thin dotted; }

a:active,
a:hover {
  outline: 0; }

h1 {
  font-size: 2em; }

abbr[title] {
  border-bottom: 1px dotted; }

b,
strong {
  font-weight: 700; }

dfn {
  font-style: italic; }

mark {
  background: #ff0;
  color: #000; }

code,
kbd,
pre,
samp {
  font-family: monospace, serif;
  font-size: 1em; }

pre {
  white-space: pre-wrap;
  word-wrap: break-word; }

q {
  quotes: \201c \201d \2018 \2019; }

small {
  font-size: 80%; }

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -0.5em; }

sub {
  bottom: -0.25em; }

img {
  border: 0; }

svg:not(:root) {
  overflow: hidden; }

fieldset {
  border: 1px solid silver;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em; }

button,
input,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0; }

button,
input {
  line-height: normal; }

button, html input[type=button], input[type=reset], input[type=submit] {
  -webkit-appearance: button;
  cursor: pointer; }

button[disabled],
input[disabled] {
  cursor: default; }

input[type="checkbox"],
input[type="radio"] {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0; }

input[type="search"] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box; }

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

textarea {
  overflow: auto;
  vertical-align: top; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

body,
figure {
  margin: 0; }

legend,
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0; }

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: "";
  clear: both;
  height: 0; }

* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

.visuallyhidden:not(:focus):not(:active) {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
  clip-path: inset(100%);
  clip: rect(0 0 0);
  overflow: hidden; }

html {
  font-size: 62.5%;
  font-family: "Anonymous Pro", monospace; }

main {
  position: relative; }

ol,
li {
  margin: 0;
  padding: 0;
  list-style-position: inside; }

.intro, .ending {
  border-radius: 10px;
  background-color: black;
  color: white;
  font-size: 200%;
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  width: 90%;
  height: 55vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  z-index: 11; }
  .intro .window-line, .ending .window-line {
    width: 100%;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    background-color: lightgray;
    position: absolute;
    height: 30px;
    top: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding-left: 1rem; }
    .intro .window-line .fa-circle, .ending .window-line .fa-circle {
      font-size: 75%;
      padding: 0.5rem;
      text-shadow: 0 0 1px black; }
    .intro .window-line .circle-green, .ending .window-line .circle-green {
      color: #6bc05d; }
    .intro .window-line .circle-orange, .ending .window-line .circle-orange {
      color: #f3bc61; }
    .intro .window-line .circle-red, .ending .window-line .circle-red {
      color: #e66b64; }
    .intro .window-line .bash-window, .ending .window-line .bash-window {
      position: absolute;
      left: 50%;
      -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
      transform: translateX(-50%);
      color: black;
      font-size: 1.75rem; }

.bg-top {
  display: none;
  width: 100%;
  height: 4vh;
  position: absolute;
  background: -webkit-radial-gradient(center, ellipse, rgba(76, 76, 76, 0.25) 0%, rgba(89, 89, 89, 0.25) 0%, #263338 100%);
  background: -o-radial-gradient(center, ellipse, rgba(76, 76, 76, 0.25) 0%, rgba(89, 89, 89, 0.25) 0%, #263338 100%);
  background: radial-gradient(ellipse at center, rgba(76, 76, 76, 0.25) 0%, rgba(89, 89, 89, 0.25) 0%, #263338 100%);
  top: 0;
  color: white;
  font-size: 2.25rem;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding-left: 1%; }
  .bg-top .fa-caret-right {
    margin-left: 1%; }
  .bg-top .file-name {
    color: lightgray;
    padding: 1em;
    height: 100%;
    position: absolute;
    left: 7.5%;
    font-size: 1.5rem;
    background-color: #0c2028;
    border-bottom: 1px solid #42f448; }
  .bg-top .fa-caret-down {
    position: absolute;
    right: 0;
    padding: 1%; }

.bg-bottom {
  display: none;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding-left: 1%;
  width: 100%;
  height: 3vh;
  position: absolute;
  background: -webkit-radial-gradient(center, ellipse, rgba(76, 76, 76, 0.5) 0%, rgba(89, 89, 89, 0.5) 0%, #0e2a35 100%);
  background: -o-radial-gradient(center, ellipse, rgba(76, 76, 76, 0.5) 0%, rgba(89, 89, 89, 0.5) 0%, #0e2a35 100%);
  background: radial-gradient(ellipse at center, rgba(76, 76, 76, 0.5) 0%, rgba(89, 89, 89, 0.5) 0%, #0e2a35 100%);
  bottom: 0;
  color: white;
  font-size: 2rem; }

.intro-rules {
  display: none; }
  .intro-rules h3 {
    font-size: 2.5rem; }
  .intro-rules li {
    list-style-type: none;
    font-size: 2rem; }
  .intro-rules li:before {
    content: "_"; }

.stats {
  position: absolute;
  top: 4vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: black;
  width: 100%;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between; }

.wrapper {
  width: 80%;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  position: relative; }

.user-form {
  -ms-flex-item-align: center;
  align-self: center; }

.user-input {
  display: none;
  position: absolute;
  padding: 1rem;
  font-size: 2.5rem;
  bottom: 5%;
  -ms-flex-item-align: center;
  align-self: center;
  left: 50%;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
  z-index: 10;
  text-align: center;
  background-color: black;
  color: #42f448;
  border: none;
  font-weight: 400; }

.words {
  color: white;
  width: 100%;
  height: 100%;
  position: relative; }

.game-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #0c2028;
  width: 100vw;
  height: 100vh;
  position: relative;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center; }

.score,
.timer {
  padding: 1rem;
  font-size: 1.75rem;
  display: none;
  background-color: black;
  margin: 0;
  color: white; }
  .score .metric,
  .timer .metric {
    color: #42f448; }

.word {
  font-size: 3rem;
  margin: 0;
  position: absolute;
  bottom: 0;
  left: 0;
  text-align: center; }

.ending {
  height: 100vh;
  width: 100%;
  display: none; }
  .ending h2 {
    font-size: 4rem; }
  .ending .ending-stats {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    text-align: center;
    width: 100%;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap; }
    .ending .ending-stats .stat-container:nth-child(2) {
      margin: auto 2%; }
    .ending .ending-stats .stat-container {
      height: 300px;
      width: 300px;
      border-radius: 50%;
      display: block;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
      line-height: 1.15;
      padding: 1em;
      position: relative;
      overflow: hidden; }
    .ending .ending-stats .spin {
      -webkit-animation: border 0.5s linear 1 forwards;
      animation: border 0.5s linear 1 forwards; }

@-webkit-keyframes border {
  25% {
    border-top: 1.5px solid #42f448; }
  50% {
    border-top: 1.5px solid #42f448;
    border-right: 1.5px solid #42f448; }
  75% {
    border-top: 1.5px solid #42f448;
    border-right: 1.5px solid #42f448;
    border-bottom: 1.5px solid #42f448; }
  100% {
    border: 1.5px solid #42f448; } }

@keyframes border {
  25% {
    border-top: 1.5px solid #42f448; }
  50% {
    border-top: 1.5px solid #42f448;
    border-right: 1.5px solid #42f448; }
  75% {
    border-top: 1.5px solid #42f448;
    border-right: 1.5px solid #42f448;
    border-bottom: 1.5px solid #42f448; }
  100% {
    border: 1.5px solid #42f448; } }
    .ending .ending-stats .ending-stat {
      display: block;
      font-size: 300%;
      margin: 1rem 0;
      color: #42f448; }
  .ending .ending-win,
  .ending .ending-lose {
    width: 100%;
    height: 100%;
    display: none;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    background-color: black;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
  .ending .ending-win .ending-win-title {
    color: #42f448; }
  .ending .ending-lose .ending-lose-title {
    color: crimson; }

.blink-cursor {
  border-right: 0.15em solid #42f448;
  letter-spacing: 0.1em;
  -webkit-animation: blink-caret 0.75s step-end infinite;
  animation: blink-caret 0.75s step-end infinite; }

@-webkit-keyframes blink-caret {
  from,
  to {
    border-color: transparent; }
  50% {
    border-color: #42f448; } }

@keyframes blink-caret {
  from,
  to {
    border-color: transparent; }
  50% {
    border-color: #42f448; } }

.blink-text {
  -webkit-animation: blink-word 0.75s step-end infinite;
  animation: blink-word 0.75s step-end infinite; }

@-webkit-keyframes blink-word {
  from,
  to {
    color: transparent; }
  50% {
    color: white; } }

@keyframes blink-word {
  from,
  to {
    color: transparent; }
  50% {
    color: white; } }

.intro-title,
.intro-rules {
  text-align: left;
  width: 70%; }

.intro-title .author {
  font-size: 2.2rem; }

.enter {
  color: #42f448; }

.welcome,
.author,
.read-rules,
.ending-number-of-words,
.ending-average-typing-second,
.ending-average-typing-minute,
.rules-title,
.rules,
.win-title,
.win-conditions,
.lose-title,
.lose-conditions,
.game-start,
.ending-win-title,
.ending-lose-title,
.ending-try-again,
.ending-sorry,
.reset {
  visibility: hidden; }

button {
  cursor: default;
  color: black;
  border: none;
  outline: 0;
  font-size: 2.4rem;
  margin-top: 1%; }
  button:focus {
    outline: 0; }

.credits {
  position: absolute;
  font-size: 1.5rem;
  bottom: 1%;
  left: 1%; }
